PORT=4000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=
MONGODB_COLLECTION=RoboWar
ZERO_G_CHAIN_RPC_URL=https://evmrpc.0g.ai
ZERO_G_CHAIN_ID=16661
ZERO_G_STORAGE_INDEXER_RPC=https://indexer-storage-turbo.0g.ai
ZERO_G_EXPLORER_URL=https://chainscan.0g.ai
ZERO_G_PRIVATE_KEY=
ROBOWAR_INDEX_CONTRACT_FILE=contract/RoboWarUserIndex.sol
ROBOWAR_INDEX_CONTRACT_ADDRESS=
ROBOWAR_INDEX_START_BLOCK=0
